@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap%27');
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.imagem{
    width: 100%;
}
main img{
    width: 90%;
    display: block;
    margin: 0 auto;
}
body{
    display: flex;
    justify-content: center;
    background-color: #aaa9a4;
}
.container{
    width: 700px;
    background-color: #151513;
    color: #fbfb05;  
    
}
nav{
    background-color: #fbfb05;
    padding: 12px;
    margin-top: -4.5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
nav a{
    color: #151513;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
main p{
    margin: 10px;
    margin-bottom: 20px;
}
h1{
    text-align: center;
    margin: 20px;
    margin-bottom: 22px;
}
footer{
    text-align: center;
    border: 1px solid rgb(34, 33, 33);
    background-color: rgb(34, 33, 33);
    padding: 10px;
}
.boyle{
    width: 60%;
}
.perfil{
    width: 50px;
    height: 60p;
}