*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* TRANSFORMANDO O "PIXEL" EM "REM" */
    /* font-size: 62.5%; */
}

/* DECLARANDO VARIÁVEIS NO CSS */
html{
    --title-color: #fff;
    --base-color: #333;
    --base-color-second: #00ff7f;
}

/* APLICANDO O FLEXBOX */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;

    /* DECLARANDO UMA VARIÁVEL */
    background-color: var(--base-color);
}

h1{
    color: var(--title-color);
    margin-bottom: 2rem;
}

/* APLICANDO CSS GRID NA CAIXA PRINCIPAL */
.keys{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/* APLICANDO CSS GRID NAS CAIXAS SECUNDÁRIAS */
.key{
    width: 8rem;
    height: 8rem;
    border: 0.2rem solid var(--title-color);
    color: var(--title-color);

    /* APLICANDO FLEXBOX */
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    font-weight: bold;
}

/* CAIXA COMPOSIÇÃO - INPUT E BOTTOM */
.composer{
    width: 26rem;
    margin-top: 2rem;
}

/* CAIXA INPUT */
.composer #input{
    width: 100%;
    outline: none;
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
}